$color:red;
// $color:#deb325;
$color-2: #253f46;
$color-3: #152529;

li#toplevel_page_membership_management {
  a {
    color: $color;
    .wp-menu-image:before {
      color: $color;
    }
  }
  &.wp-menu-open {
    a.wp-menu-open {
      background-color: $color;
      color: #fff;
      .wp-menu-image:before {
        color:#fff;
      }
    }
  }
}
